/* write your override styles here */
#wall .tag-1{
  display: none;
}
#wall > .tag-1 + #tag-2{
/*  background: none;*/
  display: none;
}
div#wall #tag-3.slick.wicked{
display: none;
}
div#wall div.parent #tag-4{
  display: none;
}
div#wall div.parent #tag-5.slick{
  display: none;
}
#wall > .parent > div:last-child > #tag-6:first-child{
  display: none;
}
#wall > .parent > div > #tag-7.slick:first-child {
  display: none;
}
